{% extends 'base.html.twig' %}

{% block title %}Slide index{% endblock %}

{% block body %}
    <h1>Slide index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td>{{ slide.id }}</td>
                <td>{{ slide.imageName }}</td>
                <td>
                    
                    <a href="{{ path('slide_show', {'id': slide.id}) }}">show</a>
                    {{ include('slide/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('slide_new') }}">Create new</a>
{% endblock %}
